<mat-card>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
    <div fxLayout="row rap">
      <mat-card-title>{{track.title}}</mat-card-title>
    </div>
    <div fxLayout="row rap">
      <mat-card-subtitle>{{track.artist}}</mat-card-subtitle>
    </div>
  </div>
  <img mat-card-image class="track-image" src="{{getTrackImage()}}">
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button mat-fab (click)="playTrack()" color="primary">
        <mat-icon>play_circle_outline</mat-icon>
      </button>
      <button mat-fab (click)="addToCart()" color="warn" matBadge="{{track.cost}}$" matBadgePosition="after" matBadgeColor="primary">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>