<div *ngIf="cartService.cart.length == 0" class="container">
    <div fxLayout="column" fxLayoutAlign="center center" class="container">
        <h1>Cart is empty!</h1>
        <div class="icon">
            <mat-icon [inline]="true">remove_shopping_cart</mat-icon>
        </div>
    </div>
</div>
<div *ngIf="cartService.cart.length != 0">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
        <app-cart-track *ngFor="let t of cartService.cart" [track]="t"></app-cart-track>
    </div>
</div>