<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <img class="logo" src="../../../assets/images/logo.png">
            <span>eMusic</span>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard/profile" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>perm_identity</mat-icon>
                Profile
            </a>
            <a mat-list-item routerLink="/dashboard/cart" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>shopping_cart</mat-icon>
                Cart
            </a>
            <a mat-list-item routerLink="/dashboard/music" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>music_note</mat-icon>
                Music
            </a>
            <a class="signOut" mat-list-item (click)="signOut()">
                <mat-icon mat-list-icon>exit_to_app</mat-icon>
                Sign out
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>apps</mat-icon>
            </button>
            <app-player class="player"></app-player>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>