<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="container">
    <span class="track-name">{{musicService.currentTrack === undefined ? 'Artist' : musicService.currentTrack.artist}} - {{musicService.currentTrack === undefined ? 'Title' :  musicService.currentTrack.title}}</span>
  <mat-icon class="play-icon" matSuffix (click)="musicService.playing ? musicService.pause() : musicService.play()">
    {{musicService.playing ? 'pause' : 'play_arrow'}}</mat-icon>
  <section class="progress-bar">
    <mat-progress-bar mode="determinate" [value]="musicService.playing ? musicService.audio.currentTime / musicService.audio.duration * 100 : 0" color="warn">
    </mat-progress-bar>
  </section>
  <mat-icon color="accent" matSuffix class="play-icon" (click)="musicService.mute()">
      {{musicService.audio.volume >= 0.75 ? 'volume_up' : musicService.audio.volume == 0 ? 'volume_mute' : 'volume_down'}}</mat-icon>
  <mat-slider
        max="1"
        min="0"
        step="0.05"
        thumbLabel="true"
        [(ngModel)]="musicService.audio.volume">
    </mat-slider>
    <mat-icon class="play-icon" color="{{musicService.audio.loop ? 'warn' : 'accent'}}" matSuffix (click)="musicService.audio.loop = !musicService.audio.loop">
        repeat_one</mat-icon>
</div>